*{
    margin: 0;
    padding: 0;
}
.body {

}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
.nav {
    display: flex;
    
}

.contain {
    height: auto;
    margin: 10px 30px;
}
.flexcol {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}
.content1 {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.content2 {
    width: 35%;
    height: 400px;
    border-radius: 10px;
    background-color: #D9D9D9;
}